{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{deps, [{amqp_client, ".*",
         {git, "git@github.com:issuu/amqp_client.git",
          "f781f3bc613bf8066ca41327f7abfeb392b44181"}},   
        {rabbit_common, ".*",
         {git, "https://github.com/issuu/rabbit_common.git",
          "75f068da33a544799587accb94507d7e2e958f14"}}]}.
